@import "../../vars.css";

.container {
    background-image: url(/contact/back.png); /* Ensure the path is correct */
    background-size: cover; /* Ensure the image covers the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    margin-top: 8%;
    padding: 5%;
    display: flex;
    justify-content: space-around;
}
.contact{
    align-items: center;
}
.contact h1{
    color:white;
    font-size: 50px;
    font-weight: 700;
}
.contact p{
    color: white;
    font-size: 30px;
}
.links{
    display: flex;
    flex-direction: column;
    
    
}
.links ul{
    list-style: none ;
    
}
.links img{
    width: 25%;
}
.links a{
    color: white;
    text-decoration: none;
}
.link{
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 20px;
  
}
@media screen and (max-width: 830px){
    .container{
        flex-direction: column;
        align-items: center;
        gap:23px;
    }
    .contact{
        display: flex;
        flex-direction: column;
    }
    .links{
        align-items: center;
    }
}
a{
    font-size:20px;
}
.mail{
    margin-left: 10px;

}